<!DOCTYPE html>
<html>
<head>
  <title>ManybotsInstagram</title>
  <%= stylesheet_link_tag    "manybots-instagram/application", :media => "all" %>
  <%= javascript_include_tag "manybots-instagram/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
